html {
	padding: 0;
	margin: 0;
}

body {
	width: 80%;
	margin: 0 auto;
}

button {
	margin: 10 auto;
	background-color: #222222;
	color: #fefefe;
}

#statusBlock {
    display: inline;
    float: right;
    margin: 10 auto;
}

.red {
    color: red;
}

.green {
    color: green;
}

textarea {
	width: 100%;
	clear: both;
}